<!-- SHOW SPINNER -->
<div *ngIf="loading">
    <nb-card status="danger" size="giant" [nbSpinner]="loading"
             nbSpinnerStatus="danger"
             nbSpinnerSize="large"
             nbSpinnerMessage="">
      <nb-card-header style="text-align:center;">-------------- Loading --------------</nb-card-header>
      <nb-card-body style="text-align: center;">
        <p>
            Please wait, We are loading the information from the server.
        </p>
      </nb-card-body>
    </nb-card>
</div>

<div *ngIf="!loading" class="row">
    <div class="col-12 col-md-12">
        <nb-card status="primary">
            <nb-card-header>
                <nb-icon *ngIf="isAcknowledge" icon="checkmark-square-outline"></nb-icon>
                <nb-icon *ngIf="!isAcknowledge" icon="question-mark-circle-outline"></nb-icon>
                {{announcement.code}} - [{{announcement.title}}]</nb-card-header>
            <nb-card-body>
                <div [innerHTML]="announcement.body"></div>
                <p></p>
                <hr>
                <p><b>Published by {{ announcement.author }} on {{ announcement.publishedDate | date : 'dd MMM yyy'}}</b></p>
                <p><b>Effective: {{ announcement.effectiveDate | date : 'dd MMM yyy'}} - {{ announcement.endDate | date : 'dd MMM yyy'}}</b></p>
                <hr *ngIf="isAcknowledge">
                <p *ngIf="isAcknowledge"><b>Acknowledging completion at [{{invoice.dateTime | date : ' dd MMM yyy HH:MM:ss'}}]</b></p>
            </nb-card-body>
        </nb-card>
    </div>

    <div *ngIf="!acknowledge" class="col-12 col-md-12 center">
        <button *ngIf="!isAcknowledge" nbButton (click)="sign(announcement.code,announcement.title)" status="primary">Acknowledge</button>&nbsp;&nbsp;&nbsp;
        <button nbButton [routerLink]="['/pages/documents_amendment']" status="danger">Back to dashboard</button>
    </div>

    <!-- <div *ngIf="preview" class="col-12 col-md-12 center">
        <button nbButton status="primary">Make an announcement</button>
        &nbsp;&nbsp;&nbsp;
        <button nbButton status="danger">Discard this announcement</button>
    </div> -->
</div>

