<div *ngIf="!online">
  <div class="row">
    <div class="col-md-12">
      <nb-card>
        <nb-card-body>
          <div class="flex-centered col-xl-4 col-lg-6 col-md-8 col-sm-12">
            <h2 class="title">Offline Mode</h2>
            <small class="sub-title"
              >Your connection has been lost. This module will recovery when
              your connection re-establish.</small
            >
            <img
              src="../../../../assets/images/offline.png"
              style="
                max-width: 50%;
                margin-left: auto;
                margin-right: auto;
                display: block;
              "
            />
          </div>
        </nb-card-body>
      </nb-card>
    </div>
  </div>
</div>

<nb-card *ngIf="online" status="primary">
  <nb-card-header>Flight Operation Performance MockUp Data!!!!</nb-card-header>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Year 2022 Graphic</nb-accordion-item-header>
        <nb-accordion-item-body>
          <ngx-basic-chart
            [year]="'2022'"
            [info]="'fltOps'"
            class="demo-chart"
          ></ngx-basic-chart>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Year 2023 Graphic</nb-accordion-item-header>
        <nb-accordion-item-body>
          <!-- <ngx-basic-chart [inputData]="flight2023Data" [loading]="flight2023DataLoading" class="demo-chart"></ngx-basic-chart> -->
          <ngx-basic-chart
            [year]="'2023'"
            [info]="'fltOps'"
            class="demo-chart"
          ></ngx-basic-chart>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="online" status="info">
  <nb-card-header>Fuel Performance MockUp Data!!!!</nb-card-header>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Year 2022 Graphic</nb-accordion-item-header>
        <nb-accordion-item-body>
          <!-- <ngx-basic-chart [inputData]="fuel2022Data" class="demo-chart"></ngx-basic-chart> -->
          <!-- <div echarts [options]="options" class="demo-chart"></div> -->
          <ngx-basic-chart
            [year]="'2022'"
            [info]="'fuel'"
            class="demo-chart"
          ></ngx-basic-chart>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>

    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Year 2023 Graphic</nb-accordion-item-header>
        <nb-accordion-item-body>
          <!-- <ngx-basic-chart [inputData]="fuel2023Data" class="demo-chart"></ngx-basic-chart> -->
          <!-- <div echarts [options]="options" class="demo-chart"></div> -->
          <ngx-basic-chart
            [year]="'2023'"
            [info]="'fuel'"
            class="demo-chart"
          ></ngx-basic-chart>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>

<nb-card *ngIf="online" status="warning">
  <nb-card-header>Flight Safety Performance MockUp Data!!!!</nb-card-header>
  <nb-card-body>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Year 2022 Graphic</nb-accordion-item-header>
        <nb-accordion-item-body>
          <!-- <ngx-basic-chart [inputData]="flight2022Data" class="demo-chart"></ngx-basic-chart> -->
          <ngx-basic-chart
            [year]="'2022'"
            [info]="'safety'"
            class="demo-chart"
          ></ngx-basic-chart>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
    <nb-accordion>
      <nb-accordion-item>
        <nb-accordion-item-header>Year 2023 Graphic</nb-accordion-item-header>
        <nb-accordion-item-body>
          <!-- <ngx-basic-chart [inputData]="flight2023Data" class="demo-chart"></ngx-basic-chart> -->
          <ngx-basic-chart
            [year]="'2023'"
            [info]="'safety'"
            class="demo-chart"
          ></ngx-basic-chart>
        </nb-accordion-item-body>
      </nb-accordion-item>
    </nb-accordion>
  </nb-card-body>
</nb-card>
