<nb-card status="primary">
    <nb-card-header>Flight Operation Performance MockUp Data!!!!</nb-card-header>
    <nb-card-body>
        <nb-accordion>
            <nb-accordion-item>
                <nb-accordion-item-header>Year 2022</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">cs1 :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">cs2 :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">csx :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">cslx :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">csrx :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">lateMC :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">AWOL :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">missFLT :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">MCA fter Act :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">refuse :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">uncontact :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">nilDocument :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
        <nb-accordion>
            <nb-accordion-item>
                <nb-accordion-item-header>Year 2023</nb-accordion-item-header>
                <nb-accordion-item-body>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">cs1 :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">cs2 :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">csx :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">cslx :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">csrx :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">lateMC :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">AWOL :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">missFLT :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">MCA fter Act :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">refuse :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">uncontact :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                    <div class="row">
                        <div class="col-6 col-sm-3 col-md-3">nilDocument :</div>
                        <div class="col-5 col-sm-9 col-md-9">0</div>
                    </div>
                </nb-accordion-item-body>
            </nb-accordion-item>
        </nb-accordion>
    </nb-card-body>
</nb-card>


<nb-card status="primary">
    <nb-card-header>Fuel Performance  MockUp Data!!!!</nb-card-header>
    <nb-card-body>
        NIL
    </nb-card-body>
</nb-card>