<div class="row" style="background-color: white">
  <div
    class="col-12"
    style="
      min-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
    "
  >
    <nb-card status="primary">
      <nb-card-header style="text-align: center"
        >Document Preview</nb-card-header
      >
      <nb-card-body style="text-align: center">
        <div class="containerZoom">
          <div
            class="layer layer1"
            style="background-color: rgba(255, 255, 255, 0.1)"
            [ngxWatermark]="ngxWaterMarkOptions"
          ></div>
          <div class="layer layer2">
            <img
              style="max-width: 100%; max-height: 100%"
              *ngIf="downloadUrl$ | async"
              [src]="downloadUrl$ | async"
            />
            <p *ngIf="!(downloadUrl$ | async)">Loading image...</p>
          </div>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div class="row" style="background-color: white">
  <div
    class="col-12"
    style="
      min-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
    "
  >
    <nb-card status="primary">
      <nb-card-header style="text-align: center"
        >EDIT PERSONAL DOCUMENT {{ data.fileCategory }} of
        {{ data.owner }}</nb-card-header
      >
      <nb-card-body style="text-align: LEFT">
        <div class="container">
          <nb-accordion *ngIf="!uploading">
            <nb-accordion-item expanded="true">
              <!-- <nb-accordion-item-header><b>DOCUMENT: {{data.fileCategory}} of {{data.owner}}</b></nb-accordion-item-header> -->
              <nb-accordion-item-body>
                <!-- <div class="form-inline">
                                    <br>
                                </div> -->
                <form
                  *ngIf="!offline"
                  [formGroup]="uploadForm"
                  (ngSubmit)="upload()"
                >
                  <div class="form-inline">
                    <input
                      id="hasExpiry"
                      name="hasExpiry"
                      formControlName="hasExpiry"
                      nbInput
                      fullWidth
                      type="text"
                      hidden
                      value="Yes"
                    />
                  </div>

                  <div class="form-group">
                    <label for="issueBy" class="label">Issue By*:</label>
                    <input
                      id="issueBy"
                      name="issueBy"
                      formControlName="issueBy"
                      nbInput
                      type="text"
                      fullWidth
                      placeholder="Issue By"
                    />
                  </div>

                  <div class="form-group">
                    <label for="issueDate" class="label">Issue Date*:</label>
                    <input
                      id="issueDate"
                      name="issueDate"
                      formControlName="issueDate"
                      nbInput
                      type="date"
                      fullWidth
                      placeholder="Issue Date"
                    />
                  </div>

                  <div class="form-group">
                    <label for="expiryDate" class="label">Expiry Date*:</label>
                    <input
                      id="expiryDate"
                      name="expiryDate"
                      formControlName="expiryDate"
                      nbInput
                      type="date"
                      fullWidth
                      placeholder="Expiry Date"
                    />
                  </div>

                  <div class="form-group" style="text-align: center">
                    <button
                      nbButton
                      [disabled]="uploadForm.invalid || !uploadForm.touched"
                      status="primary"
                      (click)="upload()"
                    >
                      Verify
                    </button>
                    <!-- &nbsp;&nbsp;&nbsp;
                                        <button nbButton status="warning" (click)="report()">Generate Report</button> -->
                    &nbsp;&nbsp;&nbsp;
                    <button nbButton status="danger" (click)="cancel()">
                      Close
                    </button>
                  </div>
                </form>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>

<div *ngIf="uploading" class="row" style="background-color: white">
  <div
    class="col-12"
    style="
      min-width: 100%;
      margin-left: auto;
      margin-right: auto;
      margin-top: auto;
    "
  >
    <nb-card status="primary">
      <nb-card-header style="text-align: LEFT"
        >EDIT PERSONAL DOCUMENT (ISSUE DATE AND EXPIRY DATE)</nb-card-header
      >
      <nb-card-body style="text-align: LEFT">
        <div class="container">
          <nb-accordion>
            <nb-accordion-item expanded="true">
              <nb-accordion-item-header>LOADING </nb-accordion-item-header>
              <nb-accordion-item-body>
                <nb-card
                  *ngIf="uploading"
                  status="danger"
                  size="giant"
                  [nbSpinner]="loading"
                  nbSpinnerStatus="danger"
                  nbSpinnerSize="large"
                  nbSpinnerMessage=""
                >
                  <nb-card-header style="text-align: center"
                    >-------------- Loading --------------</nb-card-header
                  >
                  <nb-card-body style="text-align: center">
                    <p>
                      Please wait, We are uploading your document to the server.
                    </p>
                  </nb-card-body>
                </nb-card>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-card-body>
    </nb-card>
  </div>
</div>
