<nb-card status="primary">
  <nb-card-header>{{ email }} - Personal Documents</nb-card-header>
  <nb-card-body>
    <!-- <div class="row">
            <div class="col-3">Actions</div>
            <div class="col-3">NAME</div>
            <div class="col-3">DESCRITION</div>
            <div class="col-3">UPLOAD TIME</div>
        </div>

        <div class="row" *ngFor="let fileUpload of fileUploadInformations">
            <div class="col-3"><nb-icon icon="search-outline"></nb-icon>&nbsp;<nb-icon icon="search-outline"></nb-icon></div>
            <div class="col-3">{{fileUpload.name}}</div>
            <div class="col-3">{{fileUpload.description}}</div>
            <div class="col-3">{{fileUpload.uploadTime}}</div>
        </div>
        <br>
        <hr> -->

    <div class="col-12 col-md-12">
      <ng2-smart-table
        [settings]="settings"
        [source]="source"
      ></ng2-smart-table>
    </div>
  </nb-card-body>
</nb-card>
