<!-- SHOW SPINNER -->
<div *ngIf="loading">
    <nb-card status="danger" size="giant" [nbSpinner]="!loading"
             nbSpinnerStatus="danger"
             nbSpinnerSize="large"
             nbSpinnerMessage="">
      <nb-card-header style="text-align:center;">-------------- Loading --------------</nb-card-header>
      <nb-card-body style="text-align: center;">
        <p>
            Please wait, We are loading the information from the server.
        </p>
      </nb-card-body>
    </nb-card>
</div>
<div *ngIf="!loading && tempFirestoreUser.role==''">
<img src="../../../favicon.ico" style="margin-left: auto;margin-right: auto;display: block;">
<h1 id="title" class="title" style="text-align: center;">Role</h1>
<p class="sub-title" style="text-align: center;">Hello! Welcome to Red Center Application, Please choose your role.</p>
<div class="row">
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="primary">
            <nb-card-header style="text-align: center;">Pilot</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Pilot')" src="../../../assets/images/captain.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="danger">
            <nb-card-header style="text-align: center;">Cabin Crew</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Cabin_Crew')" src="../../../assets/images/flight-attendant.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="info">
            <nb-card-header style="text-align: center;">Flight Operations</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Flight_Operations')" src="../../../assets/images/operation.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="warning">
            <nb-card-header style="text-align: center;">Training</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Training')" src="../../../assets/images/training.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="success">
            <nb-card-header style="text-align: center;">Engineer</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Engineer')" src="../../../assets/images/engineer.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
</div>
</div>
