<!-- SHOW SPINNER -->
<div *ngIf="loading">
    <nb-card status="danger" size="giant" [nbSpinner]="!loading"
             nbSpinnerStatus="danger"
             nbSpinnerSize="large"
             nbSpinnerMessage="">
      <nb-card-header style="text-align:center;">-------------- Loading --------------</nb-card-header>
      <nb-card-body style="text-align: center;">
        <p>
            Please wait, We are loading the information from the server.
        </p>
      </nb-card-body>
    </nb-card>
</div>
<div *ngIf="!loading">
<img src="../../../favicon.ico" style="margin-left: auto;margin-right: auto;display: block;">
<h1 id="title" class="title" style="text-align: center;">Initialize User</h1>
<p class="sub-title" style="text-align: center;">Hello! Welcome to Red Center Application, Please enter you initialization.</p>
<div class="col-12 col-md-12">
    <nb-card class="inline-form-card" accent="success">
        <nb-card-header style="word-wrap: break-word;text-align: center;">{{tempFirestoreUser.displayName}} </nb-card-header>
        <nb-card-body>
            <form #updateForm>
                <div class="form-inline"><b>TAA ID :</b>
                    <input nbInput type="text" pattern="[0-9]{7}" required id="cId" name="cId" #cId="ngModel" fullWidth [(ngModel)]="tempFirestoreUser.cId">                    
                </div>
                <div class="form-inline"><b>Role :</b>
                    <nb-select id="role" [status]="tempFirestoreUser.role == '' ? 'danger' : ''" required name="role" #role="ngModel" fullWidth [(ngModel)]="tempFirestoreUser.role">
                        <nb-option *ngFor="let roleOption of roleOptions" [value]="roleOption.value"><img style="max-width: 25px;" src="../../../{{roleOption.icon}}">&nbsp;&nbsp;{{ roleOption.label }}</nb-option>
                    </nb-select>
                </div>
                <div class="form-inline"><b>AOC :</b>
                    <nb-select id="aoc" required [status]="tempFirestoreUser.aoc == '' ? 'danger' : ''" name="aoc" #aoc="ngModel" fullWidth [(ngModel)]="tempFirestoreUser.aoc">
                        <nb-option *ngFor="let aocOption of aocOptions" [value]="aocOption.value"><img style="max-width: 25px;" src="../../../{{aocOption.icon}}">&nbsp;&nbsp;{{ aocOption.label }}</nb-option>
                    </nb-select>
                </div>
                
                <div class="form-inline"><button style="margin-left: auto; margin-right: auto; margin-top: 10px;" type="submit" [disabled]="!role.dirty || !aoc.dirty" (click)="setInitialUser()" nbButton status="primary">Init</button></div>
                </form>
        </nb-card-body>
    </nb-card>
</div>
<!-- <div class="row">
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="primary">
            <nb-card-header style="text-align: center;">Pilot</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Pilot')" src="../../../assets/images/captain.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="danger">
            <nb-card-header style="text-align: center;">Cabin Crew</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Cabin_Crew')" src="../../../assets/images/flight-attendant.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="info">
            <nb-card-header style="text-align: center;">Flight Operations</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Flight_Operations')" src="../../../assets/images/operation.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="warning">
            <nb-card-header style="text-align: center;">Training</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Training')" src="../../../assets/images/training.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
    <div class="col-12 col-sm-4 col-md-4">
        <nb-card accent="success">
            <nb-card-header style="text-align: center;">Engineer</nb-card-header>
            <nb-card-body>
                <img (click)="setRole('Engineer')" src="../../../assets/images/engineer.png" style="cursor: pointer; display: block; margin-left: auto; margin-right: auto; margin-top: auto; max-width: 80%;">
            </nb-card-body> 
        </nb-card>
    </div>
</div> -->
</div>
