<!-- <nb-icon icon="maximize-outline" [routerLink]="['/pages/documents_amendment/document', encodeTitle(rowData.code)]"></nb-icon>&nbsp; -->
<nb-icon icon="maximize-outline" nbTooltip="Click to view more details of this document" (click)="viewDocument()" nbTooltipStatus="primary"></nb-icon>&nbsp;
<nb-icon *ngIf="canEdit" nbTooltip="Click to edit this document" (click)="editDocument()" nbTooltipStatus="primary" status="primary" icon="edit-2-outline"></nb-icon><span *ngIf="canEdit">&nbsp;</span>
<nb-icon *ngIf="canDelete" nbTooltip="Click to delete this document" (click)="deleteDocument()" nbTooltipStatus="danger" status="danger" icon="trash-2-outline"></nb-icon><span *ngIf="canDelete">&nbsp;</span>

<nb-icon *ngIf="canAdd" nbTooltip="add this document to report" (click)="addDocument()" nbTooltipStatus="primary" status="primary" icon="plus-circle-outline"></nb-icon><span *ngIf="canAdd">&nbsp;</span>
<nb-icon *ngIf="canAdd" nbTooltip="remove this document from report" (click)="removeDocument()" nbTooltipStatus="primary" status="danger" icon="minus-circle-outline"></nb-icon><span *ngIf="canAdd">&nbsp;</span>


<!-- <nb-icon *ngIf="isReadOnly" nbTooltip="Acknowledge is not required for this announcement" nbTooltipStatus="primary" status="primary" icon="file-text-outline"></nb-icon>
<nb-icon *ngIf="isAcknowledge && !isReadOnly" nbTooltip="Acknowledge is already done" nbTooltipStatus="primary" status="primary" icon="checkmark-square-outline"></nb-icon>
<nb-icon *ngIf="!isAcknowledge && !isReadOnly" nbTooltip="Acknowledge is required" nbTooltipStatus="danger" status="danger" icon="question-mark-circle-outline"></nb-icon>&nbsp;

<nb-icon *ngIf="canDelete" nbTooltip="Click to annouce this announcement" nbTooltipStatus="primary" status="primary" (click)="makeAnnouncement()" icon="share-outline"></nb-icon>&nbsp;
<nb-icon *ngIf="canDelete" nbTooltip="Click to delete this announcement" nbTooltipStatus="danger" status="danger" (click)="deleteAnnouncement()" icon="trash-2-outline"></nb-icon>&nbsp; -->