@import '../../@theme/styles/themes';

@include nb-install-component() {
  .show-grid {
    .row {
      margin: -0.5rem;
    }

    div[class^=col-] {
      padding: 0.5rem;
      box-sizing: border-box;

      div {
        text-align: center;
        background-color: nb-theme(background-basic-color-2);
        padding: 0.75rem 0.25rem;
        border-radius: 0.25rem;
      }
    }
  }

  .grid-h {
    margin-top: 50rem;

    &:first-child {
      margin-top: 50rem;
    }
  }

  .table-responsive {
    margin-top: 1rem;
  }
}

fieldset {
  border: 1px solid #000;
  margin: 5px;
  margin-top: 10px;
  padding: 10px; /* Keep the padding for visual spacing inside the fieldset */
  width: 100%; /* Add this property to make the line fill the entire width */
  border-top-style: solid;
}

//////////////////////แก้รูปแบบกล่องของแต่ละกล่อง//////////////////////////// 
.PersonalDoc-Required-legend {
  padding: 0 5px;
  font-weight: bold;
  // border: 1px solid #333;
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0;
  width: max-content;
  font-size: clamp(0.9rem, 0.325rem + 1.2vw, 1rem);
}
.PersonalDoc-legend {
  padding: 0 5px;
  font-weight: bold;
  // border: 1px solid #333;
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0;
  width: max-content;
  font-size: clamp(0.9rem, 0.325rem + 1.2vw, 1rem);
}
.PersonalRec-legend {
  padding: 0 5px;
  font-weight: bold;
  // border: 1px solid #333;
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0;
  width: max-content;
  font-size: clamp(0.9rem, 0.325rem + 1.2vw, 1rem);
}
.Mandatory-legend {
  padding: 0 5px;
  font-weight: bold;
  // border: 1px solid #333;
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0;
  width: max-content;
  font-size: clamp(0.9rem, 0.325rem + 1.2vw, 1rem);
}
.Optional-legend {
  padding: 0 5px;
  font-weight: bold;
  // border: 1px solid #333;
  border-radius: 5px 5px 0 0;
  background-color: #f0f0f0;
  width: max-content;
  font-size: clamp(0.9rem, 0.325rem + 1.2vw, 1rem);
}