<!-- SHOW SPINNER -->
<div *ngIf="loading">
    <nb-card status="danger" size="giant" [nbSpinner]="loading"
             nbSpinnerStatus="danger"
             nbSpinnerSize="large"
             nbSpinnerMessage="">
      <nb-card-header style="text-align:center;">-------------- Loading --------------</nb-card-header>
      <nb-card-body style="text-align: center;">
        <p>
            Please wait, We are loading the information from the server.
        </p>
      </nb-card-body>
    </nb-card>
</div>

<!-- SHOW INFORMATION -->
<div *ngIf="!loading">
    <!--
        13 MAR 2023 wutthichair
            Show displayname in uppercase
    -->
    <div class="col-12">
        <nb-card accent="primary">
            <nb-card-header ><nb-icon icon="award-outline"></nb-icon> My information</nb-card-header>
            <nb-card-body>
                <div class="col-3"><B>NAME</B></div>
                <div class="col-9">{{fireBaseAuth.getFirebaseUser().displayName | uppercase}}</div>

                <!-- <div class="col-3"><B>EMAIL</B></div>
                <div class="col-9">{{fireBaseAuth.getFirebaseUser().email | lowercase}}</div> -->
            </nb-card-body>
        </nb-card>
    </div>
    <!-- SHOW AUTOLAND - ONELIN, AUTOLAND - SIMULATIOR -->
    <div *ngIf="showAutoLand" class="row">
        <div class="col-12 col-sm-4 col-md-4">
            <ngx-autoland-card *ngIf="autoLandCards[0]!=null" [info]="autoLandCards[0]" [events]="changeEvent.asObservable()" (postCompleteEvent)="loadAutolandCards()"></ngx-autoland-card>
        </div>
        <div class="col-12 col-sm-4 col-md-4">
            <ngx-autoland-card *ngIf="autoLandCards[0]!=null" [info]="autoLandCards[1]" [events]="changeEvent.asObservable()" (postCompleteEvent)="loadAutolandCards()"></ngx-autoland-card>
        </div>
    </div>

    <!-- SHOW SEP CARDS-->
    <div class="row">
        <div *ngFor="let oneSepCard of oneSepCards" class="col-12 col-sm-4 col-md-4">
            <ngx-one-sep-card [info]="oneSepCard"></ngx-one-sep-card>
        </div>
    </div>
</div>