<!-- SHOW SPINNER -->
<div *ngIf="loading">
  <nb-card
    status="danger"
    size="giant"
    [nbSpinner]="loading"
    nbSpinnerStatus="danger"
    nbSpinnerSize="large"
    nbSpinnerMessage=""
  >
    <nb-card-header style="text-align: center"
      >-------------- Loading --------------</nb-card-header
    >
    <nb-card-body style="text-align: center">
      <p>Please wait, We are loading the information from the server.</p>
    </nb-card-body>
  </nb-card>
</div>

<!-- SHOW INFORMATION -->
<div *ngIf="!loading">
  <!--
        13 MAR 2023 wutthichair
            Show displayname in uppercase
    -->
  <div class="col-12" id="home">
    <nb-card status="primary">
      <nb-card-header
        ><nb-icon icon="award-outline"></nb-icon> My information &nbsp;&nbsp;
        <nb-icon
          *ngIf="!offline && !fireBaseAuth.getFirebaseUser().isAnonymous"
          icon="cloud-download-outline"
          (click)="downloadSEP()"
        ></nb-icon
      ></nb-card-header>
      <nb-card-body>
        <div class="col-3"><B>NAME</B></div>
        <div class="col-9">
          {{ firestoreUser.getFirestoreUser().displayName | uppercase }}
        </div>

        <div class="col-3" style="margin-top: 0.2rem"><B>TAA ID</B></div>
        <div class="col-9">
          {{ firestoreUser.getFirestoreUser().cId | uppercase }}
        </div>

        <div class="col-3" style="margin-top: 0.2rem"><B>ROLE</B></div>
        <div class="col-9">
          {{ firestoreUser.getFirestoreUser().role | uppercase }}
        </div>

        <!-- <div *ngIf="!fireBaseAuth.getFirebaseUser().isAnonymous" class="col-3"><B>MY QR</B></div>
                <div *ngIf="!fireBaseAuth.getFirebaseUser().isAnonymous" class="col-9">
                    <p>
                        Please use mobile phone to scan this QR Code. To check my data from Thai Air Asia Server.
                    </p><br>
                    <p>
                        <qrcode [qrdata]="myURL" [width]="128" [errorCorrectionLevel]="'L'"></qrcode>
                    </p>
                </div> -->

        <div class="col-12" style="margin-top: 0.5rem"><B>Summary</B></div>
        <!-- success -->
        <div
          *ngIf="validList.length > 0"
          class="col-12"
          style="margin-top: 0.25rem"
        >
          <nb-accordion accent="success">
            <nb-accordion-item>
              <nb-accordion-item-header
                ><nb-icon icon="checkmark-circle-2" status="success"></nb-icon
                >&nbsp;&nbsp;Valid [{{
                  validList.length
                }}]</nb-accordion-item-header
              >
              <nb-accordion-item-body>
                <div
                  *ngFor="
                    let valid of validList;
                    let i = index;
                    let odd = odd;
                    trackBy: trackById
                  "
                  [class.odd]="odd"
                >
                  <!-- {{i+1}}. {{valid}}<nb-icon [config]="{icon: 'search-outline', options: {'icon-font-size': '0.5rem'}}"></nb-icon> -->
                  {{ i + 1 }}. {{ valid }}
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <!-- warning -->
        <div *ngIf="aboutList.length > 0" class="col-12">
          <nb-accordion accent="warning">
            <nb-accordion-item>
              <nb-accordion-item-header
                ><nb-icon icon="alert-triangle" status="warning"></nb-icon
                >&nbsp;&nbsp;About to expire [{{
                  aboutList.length
                }}]</nb-accordion-item-header
              >
              <nb-accordion-item-body>
                <div
                  *ngFor="
                    let about of aboutList;
                    let i = index;
                    let odd = odd;
                    trackBy: trackById
                  "
                  [class.odd]="odd"
                >
                  <!-- {{i+1}}. {{about}}<nb-icon [config]="{icon: 'search-outline', options: {'icon-font-size': '0.5rem'}}" (click)="jumpTo(about)"></nb-icon> -->
                  {{ i + 1 }}. {{ about }}
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <!-- warning -->
        <div *ngIf="pendingList.length > 0" class="col-12">
          <nb-accordion accent="warning">
            <nb-accordion-item>
              <nb-accordion-item-header
                ><nb-icon icon="question-mark-circle" status="warning"></nb-icon
                >&nbsp;&nbsp;Pending Verification [{{
                  pendingList.length
                }}]</nb-accordion-item-header
              >
              <nb-accordion-item-body>
                <div
                  *ngFor="
                    let about of pendingList;
                    let i = index;
                    let odd = odd;
                    trackBy: trackById
                  "
                  [class.odd]="odd"
                >
                  <!-- {{i+1}}. {{about}}<nb-icon [config]="{icon: 'search-outline', options: {'icon-font-size': '0.5rem'}}" (click)="jumpTo(about)"></nb-icon> -->
                  {{ i + 1 }}. {{ about }}
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
        <!-- danger -->
        <div *ngIf="expiredList.length > 0" class="col-12">
          <nb-accordion accent="danger">
            <nb-accordion-item>
              <nb-accordion-item-header
                ><nb-icon icon="close-square" status="danger"></nb-icon
                >&nbsp;&nbsp;Invalid [{{
                  expiredList.length
                }}]</nb-accordion-item-header
              >
              <nb-accordion-item-body>
                <div
                  *ngFor="
                    let expired of expiredList;
                    let i = index;
                    let odd = odd;
                    trackBy: trackById
                  "
                  [class.odd]="odd"
                >
                  <!-- {{i+1}}. <a href="./pages/sep/#{{expired}}">{{expired}}</a> -->
                  <!-- {{i+1}}. {{expired}}<nb-icon [config]="{icon: 'search-outline', options: {'icon-font-size': '0.5rem'}}" (click)="jumpTo(expired)"></nb-icon> -->
                  {{ i + 1 }}. {{ expired }}
                </div>
              </nb-accordion-item-body>
            </nb-accordion-item>
          </nb-accordion>
        </div>
      </nb-card-body>
    </nb-card>
  </div>

  <!--
        06 Aug 2023 by panetl@airasia.com
        add feature grouping document by using fieldset
        1. Fieldset - Personal Document(s) [Required Action] 

        merge into develop by wutthichair@airasia.com 06 Aug 2023
    -->
  <fieldset *ngIf="mandatoryCourseName.length > 0">
    <legend class="PersonalDoc-Required-legend">
      Personal Document(s) [Required Action]
    </legend>
    <!-- Mandatory Card -->
    <div
      *ngIf="!fireBaseAuth.getFirebaseUser().isAnonymous"
      class="row"
      style="margin-bottom: 7px"
    >
      <div
        *ngFor="let cardName of mandatoryCourseName"
        class="col-12 col-sm-12 col-md-6 col-lg-4"
        style="margin-top: 7px"
      >
        <ngx-mandatory-card-post
          [name]="cardName"
          (postCompleteEvent)="downloadSEP()"
        ></ngx-mandatory-card-post>
      </div>
    </div>
  </fieldset>

  <!--
        06 Aug 2023 by panetl@airasia.com
        add feature grouping document by using fieldset
        2. Fieldset - Personal Document(s)

        merge into develop by wutthichair@airasia.com 06 Aug 2023
    -->
  <fieldset *ngIf="manualCards.length > 0">
    <legend class="PersonalDoc-legend">Personal Document(s)</legend>
    <!-- SHOW MANUAL UPLOAD DOCUMENTS CARDS-->
    <div class="row" style="margin-bottom: 7px">
      <div
        *ngFor="let oneSepCard of manualCards"
        class="col-12 col-sm-12 col-md-6 col-lg-4"
        style="margin-top: 7px"
        id="{{ oneSepCard.name }}"
      >
        <ngx-one-sep-card
          [info]="oneSepCard"
          [canDelete]="!fireBaseAuth.getFirebaseUser().isAnonymous"
          (deleteEvent)="downloadSEP()"
        ></ngx-one-sep-card>
      </div>
    </div>
  </fieldset>

  <!--
        06 Aug 2023 by panetl@airasia.com
        add feature grouping document by using fieldset
        3. Fieldset - Personal Autolanding Records

        merge into develop by wutthichair@airasia.com 06 Aug 2023
    -->
  <fieldset *ngIf="showAutoLand">
    <legend class="PersonalDoc-legend">Personal Autolanding Records</legend>
    <!-- SHOW AUTOLAND - ONELIN, AUTOLAND - SIMULATIOR -->
    <div *ngIf="showAutoLand" class="row" style="margin-bottom: 7px">
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4"
        id="AUTOLAND - ONLINE"
        style="margin-top: 7px"
      >
        <ngx-autoland-card
          *ngIf="autoLandCards[0] != null"
          [info]="autoLandCards[0]"
          [events]="changeEvent.asObservable()"
          (postCompleteEvent)="loadAutolandCards()"
        ></ngx-autoland-card>
      </div>
      <div
        class="col-12 col-sm-12 col-md-6 col-lg-4"
        id="AUTOLAND - SIMULATOR"
        style="margin-top: 7px"
      >
        <ngx-autoland-card
          style="margin-top: 5px"
          *ngIf="autoLandCards[1] != null"
          [info]="autoLandCards[1]"
          [events]="changeEvent.asObservable()"
          (postCompleteEvent)="loadAutolandCards()"
        ></ngx-autoland-card>
      </div>
    </div>
  </fieldset>

  <!--
        06 Aug 2023 by panetl@airasia.com
        add feature grouping document by using fieldset
        4. Fieldset - Mandatory courses

        merge into develop by wutthichair@airasia.com 06 Aug 2023
    -->
  <fieldset *ngIf="requiredCourse.length > 0">
    <legend class="Mandatory-legend">Mandatory Courses</legend>
    <!-- SHOW SEP CARDS-->
    <div class="row" style="margin-bottom: 7px">
      <div
        *ngFor="let oneSepCard of requiredCourse"
        class="col-12 col-sm-12 col-md-6 col-lg-4"
        id="{{ oneSepCard.name }}"
        style="margin-top: 7px"
      >
        <ngx-one-sep-card
          [info]="oneSepCard"
          [allHistory]="fullHistory[oneSepCard.Name]"
          [canDelete]="false"
          (postCompleteEvent)="newDataFromGoogleAPI($event)"
          (refreshEvent)="detectChanges()"
        ></ngx-one-sep-card>
      </div>
    </div>
  </fieldset>

  <!--
        06 Aug 2023 by panetl@airasia.com
        add feature grouping document by using fieldset
        5. Fieldset - Optional courses

        merge into develop by wutthichair@airasia.com 06 Aug 2023
    -->
  <fieldset *ngIf="optionalCourse.length > 0">
    <legend class="Mandatory-legend">Supplementary Courses</legend>
    <!-- SHOW SEP CARDS-->
    <div class="row" style="margin-bottom: 7px">
      <div
        *ngFor="let oneSepCard of optionalCourse"
        class="col-12 col-sm-12 col-md-6 col-lg-4"
        id="{{ oneSepCard.name }}"
        style="margin-top: 7px"
      >
        <ngx-one-sep-card
          [info]="oneSepCard"
          [allHistory]="fullHistory[oneSepCard.Name]"
          [canDelete]="false"
          (postCompleteEvent)="newDataFromGoogleAPI($event)"
          (refreshEvent)="detectChanges()"
        ></ngx-one-sep-card>
      </div>
    </div>
  </fieldset>
</div>
