<div class="header-container">
  <div class="logo-container">
    <a (click)="toggleSidebar()" href="#" class="sidebar-toggle">
      <nb-icon icon="menu-2-outline"></nb-icon>
    </a>
    <!--     
      01 MAR 2023 by wutthichair
        change title 'ngx-admin' to 'Red Center'
    -->
    <!-- <nb-icon icon="home-outline" (click)="clickToCount()"></nb-icon> -->
    <a class="logo" href="#" (click)="navigateHome()">Red Center</a>
  </div>
  <nb-select [selected]="currentTheme" (selectedChange)="changeTheme($event)" status="primary">
    <nb-option *ngFor="let theme of themes" [value]="theme.value"> {{ theme.name }}</nb-option>
  </nb-select>
</div>

<div class="header-container">
  <nb-actions size="small">
    <!--       
      01 MAR 2023 by wutthichair
      remove rotate-layout, email-outline, bell-outline features 
    -->
    <!-- <nb-action class="control-item">
      <nb-search type="rotate-layout"></nb-search>
    </nb-action>
    <nb-action class="control-item" icon="email-outline"></nb-action>
    <nb-action class="control-item" icon="bell-outline"></nb-action> -->
    <!--       
      01 MAR 2023 by wutthichair
      remove rotate-layout, email-outline, bell-outline features 
    -->
    <!-- <nb-badge text="badgeText" status="warning" position="bottom right"></nb-badge> -->
    <!-- <nb-action class="control-item" icon="bell-outline"  badgeText="99+" badgeStatus="danger"></nb-action> -->
    
    <nb-action icon="bell-outline" badgeText="{{numberNotification > 0 ? numberNotification : ''}}" badgePosition="top right" badgeDot="false" badgeStatus="primary"></nb-action>
    <!-- <nb-action icon="bell-outline"></nb-action> -->
    <nb-action class="user-action" *nbIsGranted="['view', 'user']" >
      <nb-user [nbContextMenu]="userMenu"
               [onlyPicture]="userPictureOnly"
               [name]="user?.displayName"
               [picture]="user?.photoURL">
      </nb-user>
    </nb-action>
  </nb-actions>
</div>
