<nb-accordion>
    <nb-accordion-item expanded="{{myStatus != 'success'}}">
        <nb-accordion-item-header><nb-icon icon="{{myIcon}}" status="{{myStatus}}"></nb-icon><b>&nbsp;&nbsp;{{info.Name}}</b></nb-accordion-item-header>
        <nb-accordion-item-body>
            <nb-card accent="{{myStatus}}">
                <!-- <nb-card-header><nb-icon icon="{{myIcon}}" status="{{myStatus}}"></nb-icon><b>&nbsp;&nbsp;{{info.name}}</b></nb-card-header> -->
                <nb-card-body>
                    <div class="row">
                        <div class="col-4">
                            <b>Type</b>
                        </div>
                        <div class="col-8">
                            {{info.Type}}
                        </div>
            
                        <div class="col-4">
                            <b>Attended</b>
                        </div>
                        <div class="col-8">
                            {{info.Attended}}
                        </div>
            
                        <div *ngIf="info.Validperiod!=undefined" class="col-4">
                            <b>Validity</b>
                        </div>
                        <div *ngIf="info.Validperiod!=undefined" class="col-8">
                            {{info.Validperiod}}
                        </div>
            
                        <div *ngIf="info.Expiry!=''" class="col-4">
                            <b>Expiry</b>
                        </div>
                        <div class="col-8">
                            {{info.Expiry}}
                        </div>
                        <!-- <div *ngIf="info.remark!=''" class="col-12">
                            <b>Remark</b>
                        </div>
                        <div class="col-12">
                            {{info.remark}}
                        </div> -->
                        <div *ngIf="info.Link!=''" class="col-12">
                            <b>Certificate</b>
                        </div>
                        <div class="col-12">
                            <iframe [src]="getSafeURL()" width="100%" frameborder="0" type='application/pdf'></iframe>
                            <!-- <img style="display: block;margin-left: auto;margin-right: auto;margin-top: 0.5rem;max-width:80%;" src={{cacheLink}}> -->
                        </div>
                    </div>
                </nb-card-body>
            </nb-card>
        </nb-accordion-item-body>
       </nb-accordion-item>
</nb-accordion>


<!-- <div *ngIf="info.name.includes('LVO')" >
    <div><ngx-autoland-card [name]="'AUTOLAND - ONLINE'"></ngx-autoland-card></div>
    <div><ngx-autoland-card [name]="'AUTOLAND - SIMLUATOR'"></ngx-autoland-card></div>
</div> -->