.notification-wrapper {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    background-color: #fff;
    border: 1px solid #ddd;
    // box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
  
  .notification-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }
  
  .clear-all-btn {
    background-color: transparent;
    border: none;
    color: #888;
    cursor: pointer;
  }
  
  .notification-body {
    padding: 10px;
  }
  
  .notification-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
  }
  
  .notification-message {
    font-weight: bold;
  }
  
  .notification-time {
    color: #888;
  }